#page {
    text-align: center
}

#main-nav {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

#page .hidden-when-not-logged-in {
    display: none;
}

#page.logged-in .hidden-when-not-logged-in {
    display: initial;
}

#page.logged-in .visible-when-not-logged-in {
    display: none;
}

#btn-add-todo {
    margin-top: 20px;
    width: 200px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-container {
    margin: 15px;
    width: 300px;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 0 0 10px red;
}

.events-container {
    margin: 15px;
    width: 300px;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 0 0 10px red;
}

.btn-cancel {
    display: none;
}

.events-container:hover .btn-cancel {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    color: black;
}

.todo-container:hover .btn-cancel {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    color: black;
}