#page {
    text-align: center
}

#main-nav {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.cookie-add {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.list-cookies {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container {
    width: 100%;
}

.list-cookies li {
    margin-top: 50px;
    width: 350px;
}

.list-cookies li img {
    width: 300px;
}

#page .hidden-when-not-logged-in {
    display: none;
}

#page.logged-in .hidden-when-not-logged-in {
    display: initial;
}

#page.logged-in .visible-when-not-logged-in {
    display: none;
}