#container {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.left img {
    width: 450px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 5px gray;
}

.left {
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.right {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.image-container img {
    width: 85%;
    border-radius: 5px 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

h3 {
    display: flex;
    justify-content: center;
}

input {
    width: 85%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: -35px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
}

.hide {
    display: none;
}